*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.flex-menus{
    display: flex;
    flex-direction: row;
}
.flex-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 188, 107);
    
}
.flex-container>div{
    margin: 10px;
    border: 10px solid rgb(255, 149, 172);
    padding: 10px;
    background-color: rgb(216, 175, 255);
    box-sizing: content-box;
}
.header{
    padding: 20px;
    background: #726161;
    color: aliceblue;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(156, 156, 156);
}
.navbar a{
    color: rgb(154, 231, 205);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover{
    color: black;
    background-color: rgb(134, 134, 235);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30px;
    background-color: rgb(255, 199, 199);
    padding: 20px;
    
}
.main{
    flex: 70px;
    background-color: rgb(201, 150, 150);
    padding: 20px;
    
}

.footer{
    text-align: center;
    padding: 20px;
    background: #999;
}
@media screen and(max-width:70px) {
    .row, 
    .navbar{
        flex-direction: column;
    }
}